{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-typescript", { "isTSX": true, "allExtensions": true }],
    "@babel/preset-react"
  ],
  "comments": false,
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ],
  "env": {
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": []
    }
  }
}
